@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    
}
body{
    background-color: rgb(214, 202, 179);
}
.container {
    width: 35%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
    margin-bottom: 100px;
    
}
.image{
    width: 95%;
}
.image img {
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
    margin: 10px 20px;
}
.recipe-content{
    padding: 20px 20px;
}
.recipe-content h1{
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 2.7rem;
    
}
h3{
    margin: 40px 0px 0px 0px;
    font-style: 1.3rem;
    color:maroon;
    padding-left: 100px;
    margin-bottom: 5px;
}
.preparation{
    padding-left:53px;
    line-height: 2.3rem;
    list-style-type:square;
    color: rgb(48, 57, 32);
}
.preparation li::before{
    content: '■';
    color: maroon;
    font-weight: bold;
    

    
}
h2{
    margin: 20px 0;
    color: rgba(178, 118, 49, 0.968);
    font-size: 2rem;

}
ul li{
  list-style: none;
  line-height: 1.4rem;
  font-size: 1rem;
   color: rgb(48, 57, 32);

}

ul li::before{
    color: rgba(178, 118, 49, 0.968);
    content: "■";
    font-weight: bold;
    display: inline-block;
    margin-left: -1em;
    width: 3rem;
    font-size: 1rem;
  }
  ol li::marker {
    color: red;
 
  }
  ol li{
    padding-left: 1.3rem;
    line-height: 1.4rem;
    color: rgb(48, 57, 32);
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
  
  }
  
tr{
  padding: 1px;
  border-bottom: 1px solid rgb(130, 144, 107);


}
td{
    color: maroon;
    font-weight: bold;
    padding-top: 30px;
  
}